html, body, #root {
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

body {
    z-index: 9999;
}

.btnTool-enter, .btnTool-appear {
    transform: translateX(150px);
    opacity: 0;
}

.btnTool-enter-active, .btnTool-appear-active {
    transform: translateX(-15px);
    opacity: 1;
}

.btnTool-enter-done, .btnTool-appear-done {
    // transform: translateX(0);
    opacity: 1;
}

.btnTool-exit {
    transform: translateX(0);
    opacity: 1;
}
.btnTool-exit-active {
    transform: translateX(150px);
    opacity: 0;
}

.btnTool-exit-done {
    transform: translateX(150px);
    opacity: 0;
}

.tool {
    transition: all 100ms ease-in;
    padding: 2px;
    border-radius: 4px;
    background: #414247;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
}
.tool-enter, .tool-appear{
    transition: all 100ms ease-in;
    opacity: 0;
    transform: translateY(-60%)
}

.tool-enter-active, .tool-appear-active {
    opacity: 1;
    transform: translateY(-120%)
}

.tool-enter-done, .tool-appear-done {
    transition: all 100ms ease-in;
    opacity: 1;
    transform: translateY(-120%);
}

.tool-exit {
    transition: all 100ms ease-in;
    opacity: 1;
    transform: translateY(-120%)
}
.tool-exit-active {
    opacity: 0;
    transform: translateY(-100%);
}

.tool-exit-done {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
}