html, body, #root {
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

body {
    z-index: 9999;
}

.tool {
    transition: all 100ms ease-in;
    padding: 2px;
    border-radius: 4px;
    background: #414247;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
}
.tool-enter, .tool-appear{
    transition: all 100ms ease-in;
    opacity: 0;
    transform: translateY(-60%)
}

.tool-enter-active, .tool-appear-active {
    opacity: 1;
    transform: translateY(-120%)
}

.tool-enter-done, .tool-appear-done {
    transition: all 100ms ease-in;
    opacity: 1;
    transform: translateY(-120%);
}

.tool-exit {
    transition: all 100ms ease-in;
    opacity: 1;
    transform: translateY(-120%)
}
.tool-exit-active {
    opacity: 0;
    transform: translateY(-100%);
}

.tool-exit-done {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
}


.showDrawer{
    height:100%;
    width:300px;
    position:absolute;
    z-index: 999;
    top:0;
    right:0;
    background:#fff;
    animation:showbox 0.5s;
    -webkit-animation:showbox 0.5s;
    box-shadow: -5px 0px 10px  #D8D6D5;
}
@keyframes showbox
{
	from {width:0px;}
	to {width:300px;}
}
@-webkit-keyframes showbox /* Safari and Chrome */
{
	from {width:0px;}
	to {width:300px;}
}

.noshowDrawer{
    height:100%;
    width:0px;
    position:absolute;
    z-index: 999;
    top:0;
    right:0;
    background:#fff;
    border:1px #eee solid;
    animation:noshowbox 1s;
    -webkit-animation:noshowbox 1s;
    overflow: hidden;
}
@keyframes noshowbox
{
	from {width:300px;}
	to {width:0px;display: none;}
}
@-webkit-keyframes noshowbox /* Safari and Chrome */
{
	from {width:300px;}
	to {width:0px;display: none;}
}